html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
 background-color: rgb(221, 221, 220);
}

.logoImage{
  height: 4em;
  width: 4em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.body-main{
  display: flex;
  text-decoration: none;
  margin: 20px;
  justify-content: left;
  flex-flow: column;

} 

.slide-show{
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width: 50%;
  height: auto;
  object-fit: cover;
}

.about_main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  clear: both;
/* margin-bottom:500px; */

}

/* img{
  width: 100x;
  height: 300px;
} */

.contact-form{
  /* margin-left: 10px; */
  width: 300px;
  margin: 0 auto;

}

.footer-main{
  /* position: relative; */
  left: 0;
  right: 0;
  /* width:100%; */
  background-color: rgb(85, 91, 107);
  color: white;
  text-align: center;
  /* margin: 5em; */
  padding: 10px;
}


.App {
  text-align: center;
  min-height: cal(100vh - 70px);
}

.header-link {
  background-color: rgb(85, 91, 107);
  display: flex;

}

.header-link > a {
  display: inline-block;
  text-decoration: none;
  /* margin: 20px; */
  /* color: white; */
  justify-content: left;
  font-size: 20px;
}

/* .header-link > a:hover {
    background-color: powderblue; 
} */

@media only screen and (max-width: 600px){
    body{
      background-color: lightblue;
    }

    img{
      width: 350px;
      height: 320px;
    }

    .body-main{
      margin-left: 10px;
    }


  .header-link {
    background-color: rgb(212, 0, 99);

  }
}
