html,
body {
 height: 100%;
 margin: 0;
 padding: 0;
 background-color: rgb(197, 197, 194);
}

.logoImage{
  height: 4em;
  width: 4em;
  margin-left: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.slideImage{
  width: 100%;
  height: 400px;
  object-fit: cover
}

.about_main{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  clear: both;
  text-align: center;
}


 .contact-form{
   margin-left: 10px; 
  width: 300px;
  margin: 0 auto;

}



.footer-main{
  position: relative; 
  width:100%; 
  bottom: 0;
  background-color: rgb(85, 91, 107);
  color: white;
  text-align: center;
  }



.App {
  text-align: center;
  min-height: cal(100vh - 70px);
}

.header-link {
  background-color: rgb(85, 91, 107);
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.header-link > a {
  display: inline-block;
  text-decoration: none;
  /* margin: 20px; */
  /* color: white; */
  justify-content: left;
  font-size: 20px;
}

.satCircle{
  border: 1px solid #03a4f5;
  border-radius: 50px;
  padding: 15px;
  height: 70px;
  width: 70px;
  font-weight: bold;
  overflow: hidden;
  margin: 5em;
  align-items: center;
}

.serviceTime{
  display: flex;
}

@media only screen and (max-width: 600px){
    body{
      background-color: lightblue;
    }

    /* img{
      width: 350px;
      height: 320px;
    } */

    .body-main{
      margin-left: 10px;
    }


  .header-link {
    background-color: rgb(212, 0, 99);

  }

  .footer-images > img{
    width: 100%;
    height: auto;
  }
}
