html,
body {
  margin:0;
  padding: 0;
  height: 100%;
}

/* .body-main{
  display: flex;
  text-decoration: none;
 margin: 20px;
  justify-content: left;
  flex-flow: column;

} */

.slide-show{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.about_main{
  margin-left: 10px;
  margin-right: 10px;
}

.contact-form{
  /* margin-left: 10px; */
  width: 300px;
  margin: 0 auto;

}

.footer-main{
  background-color: rgb(79, 122,241);
  color: white;
  bottom: 10px;
  text-align: center;
}


.App {
  text-align: center;
}

.header-link {
  background-color: rgb(79, 122, 241);
}

.header-link > a {
  display: inline-block;
  text-decoration: none;
  margin: 20px;
  color: white;
  justify-content: left;
  font-size: 20px;
}

.header-link > a:hover {
  background-color: powderblue;
}

.footer {
  height: 50px;

}

@media only screen and (max-width: 600px){
    body{
      background-color: lightblue;
    }

    img{
      width: 350px;
      height: 320px;
    }

    .body-main{
      margin-left: 10px;
    }


  .header-link {
    background-color: rgb(212, 0, 99);

  }
}
